<div class="container-fluid">
    <div class="row mt-5 mb-3">

      <div class="col-md-6 text-center text-light text-uppercase justify-content-center padding-right">
        <div class="vertical-align">
          <h2>WELCOME TO</h2>
          <span>
            <a [routerLink]="['/']">
              <img 
                src="./../../../assets/travelgram_logo.png" 
                class="img-fluid bg-light bg-gradient p-3 mt-3 mb-5 shadow" 
                height="auto" 
                width="auto"
              />
            </a>
          </span>
        </div> 
      </div>

      <div class="col-md-6 vertical-line">
        <div class="card shadow">
          <div class="card-header bg-success text-center text-white text-uppercase">
            Sign Up Please
          </div>
  
          <div class="card-body">
            <form (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
              <div>

                <!-- image picker -->
                <div class="text-center">
                  <label for="imagepicker" class="">
                    <img [src]="picture" height="150" width="auto" alt="" class="rounded-circle shadow mb-3" />
                  </label>
  
                  <input
                    type="file"
                    name="image"
                    id="imagepicker"
                    accept="image/*"
                    multiple="{false}"
                    class=""
                    hidden
                    (change)="uploadFile($event)"
                  />
                </div>
                <div class="text-center text-muted mb-3">Upload Your Awesome Profile Pic</div>
  
                <div [hidden]="!uploadPercent || uploadPercent==100" class="text-white text-center">
                    uploading {{uploadPercent | number: "1.0-0"}} %
                </div>

                <div *ngIf="uploadPercent == 100" class="text-success text-uppercase text-center mb-3">
                  Upload finished
                </div>
              </div>
  
              <div class="form-group row">
                <label for="name" class="col-sm-3 col-form-label">
                  Name
                </label>

                <div class="col-sm-9">
                  <input
                    type="name"
                    class="form-control"
                    id="name"
                    name="name"
                    placeholder="Enter Name"
                    required
                    ngModel
                  />
                </div>
              </div>
  
              <div class="form-group row">
                <label for="email" class="col-sm-3 col-form-label">
                  Email
                </label>

                <div class="col-sm-9">
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    name="email"
                    placeholder="Enter Email"
                    required
                    ngModel
                  />
                </div>
              </div>
  
              <div class="form-group row">
                <label for="password" class="col-sm-3 col-form-label">
                  Password
                </label>

                <div class="col-sm-9">
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    placeholder="Enter password"
                    required
                    ngModel
                  />
                  <small id="emailHelp" class="form-text text-muted">
                    Minimum length of the password should be 6 or more characters
                  </small>
                </div>
              </div>
  
              <div class="form-group row">
                <label for="instaHandle" class="col-sm-3 col-form-label">
                  Instagram Handle
                </label>
                
                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    id="instaHandle"
                    name="instaHandle"
                    placeholder="Enter your instagram handle"
                    required
                    ngModel
                  />
                </div>
              </div>
  
              <div class="form-group row">
                <label for="country" class="col-sm-3 col-form-label">
                  Country
                </label>

                <div class="col-sm-9">
                  <input
                    type="text"
                    class="form-control"
                    id="country"
                    name="country"
                    placeholder="Your Country"
                    required
                    ngModel
                  />
                </div>
              </div>
  
              <div class="form-group row">
                <label for="bio" class="col-sm-3 col-form-label">
                  Bio
                </label>
                
                <div class="col-sm-9">
                  <textarea
                    type="text"
                    class="form-control"
                    id="bio"
                    name="bio"
                    placeholder="Please give us more information about you..."
                    required
                    ngModel
                  ></textarea>
                </div>
              </div>
  
              <div class="text-center">
                <button class="btn btn-success" type="submit" [disabled]="myForm.form.invalid">
                  Sign Up
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  