<nav class="navbar navbar-expand-lg navbar-dark bg-primary px-4">

    <a class="navbar-brand bg-warning shadow rounded p-1 m-1" [routerLink]="['/']">
      <div *ngIf="email; else AppLabel">
        <img src="../../../assets/travelgram_logo.png" height="35" width="auto"  class="d-inline-block" alt="">
      </div>
      <!-- <div>
          <img src="./../../../assets/symbol.png" height="40" width="auto" alt="">
          <img src="../../../assets/travelxp_logo.png" height="45" width="auto"  class="d-inline-block align-top" alt="">
      </div> -->

      <ng-template #AppLabel>
        <div class="p-1">
          One Stop Desination For All Your Memories
        </div>
      </ng-template>
    </a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">

        <!-- if the user is present then printing email -->
        <div *ngIf="email" class="navbar-text float-left">
          {{ email }} 
        </div>

        <a class="nav-item nav-link" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            Home
        </a>

        <!-- conditionally rendering links  -->
        <a *ngIf="!email" class="nav-item nav-link" [routerLink]="['/sign-in']" routerLinkActive="active">
            Sign In
        </a>
        <a *ngIf="!email" class="nav-item nav-link" [routerLink]="['/sign-up']" routerLinkActive="active">
            Sign Up
        </a>
  
        <a *ngIf="email" (click)="handleSignOut()" class="nav-item nav-link text-warning">
            Log Out
        </a>
  
        <a *ngIf="email" class="nav-item nav-link btn btn-warning text-primary shadow ml-2" [routerLink]="['/add-post']">
          Post Your Story
        </a>
      </div>
  
    </div>
  </nav>
  