<div class="card mb-3 mt-4 horizontal-display">
    <div class="d-flex justify-content-center align-items-center">
        <img [src]="user.picture" class="rounded-circle ml-2">
    </div>

    <div class="card-body">
        <h5 class="card-title">{{user.name | uppercase}}</h5>
        <p class="card-text">{{user.bio}}</p>
    </div>
</div>