.bg-gradient {
  box-shadow: 0 0 60px 2px inset rgb(26, 16, 110) !important;
  border-radius: 50px !important;
}

h2 {
  font-family: serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

@media screen and (min-width: 1000px) {
  .padding-left {
    padding-right: 3rem;
    margin-bottom: 5rem;
  }

  .vertical-line {
    border-left: 0.5px solid #969292;
    padding-left: 3rem;
  }

  .vertical-align {
    margin-top: 15%;
  }
}
