<div class="container-fluid">
  <div class="row mt-5 mb-3">

    <div class="col-md-6 text-center text-light text-uppercase justify-content-center padding-left">
      <div class="vertical-align">
        <h2>WELCOME TO</h2>
        <span>
          <a [routerLink]="['/']">
            <img 
              src="./../../../assets/travelgram_logo.png" 
              class="img-fluid bg-light bg-gradient p-3 mt-3 mb-5 shadow" 
              height="auto" 
              width="auto"
            />
          </a>
        </span>
      </div> 
    </div>

    <div class="col-md-6 vertical-line">
        <div class="card">
          <div class="card-header bg-success text-center text-white text-uppercase">
            Sign In Please
          </div>
  
          <div class="card-body">
            <form (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
              <div class="form-group row">
  
                <label for="email" class="col-sm-3 col-form-label">Email</label>
  
                <div class="col-sm-9">
                  <input 
                    type="email" 
                    class="form-control" 
                    id="email" 
                    name="email" 
                    placeholder="Enter your email" 
                    ngModel
                    required 
                  />
                </div>
  
              </div>
  
              <div class="form-group row">
  
                <label for="password" class="col-sm-3 col-form-label">Password</label>
  
                <div class="col-sm-9">
                  <input 
                    type="password" 
                    class="form-control" 
                    id="password" 
                    name="password" 
                    placeholder="Enter your password"
                    ngModel 
                    required
                  />
                </div>
  
              </div>
  
              <div class=" text-center">
                <button class="btn btn-success " type="submit" [disabled]="myForm.form.invalid">
                  Sign In
                </button>
              </div>
              
              
  
            </form>
          </div>
          <div class="card-footer text-center">
            <div>
              Don't have an account ? Create here.
            </div>
  
            <a [routerLink]="['/sign-up']">
              <button class="btn btn-primary mt-2">
                Create Account
              </button>
            </a>
          </div>
        </div>

        
      </div>
    </div>
  
  </div>
  