<footer class="container-fluid bg-primary">
    <div class="row py-2 px-1">
        <div class="col-6 text-white text-left">
            <img src="../../../assets/angular_logo.png" height="25" width="auto" alt="">
            Angular Social Media App
        </div>
        <div class="col-6 text-white text-right pr-3">
            Created By @Vinayak_AP
        </div>
    </div>
</footer>