<div class="container-fluid">
    <div
      *ngIf="isLoading; else Content"
      class="d-flex justify-content-center align-items-center min-vh-100"
    >
      <div
        class="spinner-border text-light"
        style="width: 3rem; height: 3rem;"
        role="status"
      ></div>
    </div>
  
    <ng-template #Content>
      <div class="row mt-5">
        <div class="col col-md-7 pr-5">
            <!-- will render list of post here -->
            <div class="mb-5" *ngFor="let post of posts">
                <app-post [post]="post"></app-post>
            </div>
        </div>

        <div class="col col-md-5 pl-5">
            <p class="text-white text-uppercase text-center">
              Recent new Users
            </p>
            <div *ngFor="let user of users">
                <app-user [user]="user"></app-user>
            </div>
        </div>
      </div>
    </ng-template>
  </div>
  